* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 500ms;
}

:root {
    --margin-bottom: 10px
}

.text {
    margin-top: 10px;
}

.product-title {
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

.product-discount,
.product-offer {
    margin-left: 10px
}

.product-price {
    color: gray;
    text-decoration: line-through;
}

.product-offer {
    color: green;
}

#card {
    margin-bottom: var(--margin-bottom);
    height: fit-content;
    height: 400px;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#card:hover {
    transition: all 0.5s ease;
    transform: scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#card-description {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

button.product-btn:hover {
    background-color: green;
    outline: none;
    transition: 500ms;
    transform: scale(1.05);
}

.col {
    gap: 10px;
}

.card img {
    height: 200px;
    width: 90%;
    margin: auto;
    aspect-ratio: 1/1;
}